{
  "presets": [
    [
      "@babel/preset-env",
      { "loose": true, "targets": "last 1 version, not dead" }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-modules-commonjs"
  ]
}
